html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

b,
strong {
  font-weight: 600;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3.6rem;
  font-family: "omnes-pro", "Helvetica Neue", "HelveticaNeue", "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #373a40;
  line-height: 1.36;
  overflow: hidden;
}

.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: fixed;
  z-index: 0;
}

.copy,
.tweet,
.controls {
  position: fixed;
  color: inherit;
  font-size: 1.6rem;
  bottom: 10px;
  font-weight: 400;
  opacity: 0.6;
}

.controls {
  left: 50%;
  margin-left: -125px;
  width: 250px;
  text-align: center;
  word-spacing: 10px;
}
.controls a {
  word-spacing: normal;
  color: inherit;
}

.copy {
  right: 10px;
}

.tweet {
  left: 10px;
}

#mimi,
#godaddy_guy {
  opacity: 0;
}

section {
  height: 1800px;
  width: 100%;
}

p {
  position: fixed;
  opacity: 0;
  top: 40%;
  margin-top: -10.8rem;
  vertical-align: middle;
  padding-left: 44%;
  color: inherit;
}
p span {
  display: block;
}
p span.large {
  font-size: 6.8rem;
}
p.start {
  padding-left: 0;
  text-align: center;
  width: 100%;
}
p.start span {
  display: inline-block;
}
p.finale {
  margin-top: -90px;
}
p.finale span:nth-of-type(3) {
  margin-top: 50px;
}
p.finale span:nth-of-type(3),
p.finale span:nth-of-type(4) {
  margin-left: 200px;
}
p.end {
  margin-top: 30px;
}

.scene {
  z-index: 5;
}
.scene img {
  position: fixed;
  top: 50%;
  margin-top: -150px;
  left: 20%;
}

.chevron_down {
  position: fixed;
  left: 50%;
  top: 80%;
  margin-left: -22px;
  z-index: 100;
}

.bg_scene {
  position: fixed;
  top: 50%;
  left: 44%;
}
.bg_scene svg {
  position: fixed;
  max-width: 500px;
}
.bg_scene > div {
  position: absolute;
}

svg * {
  stroke: inherit;
}

#gd_bg,
#mm_bg {
  left: 0;
  right: 0;
}
#gd_bg svg,
#mm_bg svg {
  width: 100%;
}

#gd_city svg {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
}

#mm_tree svg {
  stroke-dasharray: 2400;
  stroke-dashoffset: 2400;
}

#gd_car {
  left: -400px;
  top: 180px;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
}

#gd_glasses {
  left: -480px;
  top: -310px;
}

#gd_star {
  left: -720px;
  top: -70px;
}

#gd_plate {
  left: 380px;
  top: -410px;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
}

#gd_fun {
  left: -180px;
  top: -380px;
}

#gd_blue {
  left: -100px;
  top: 40px;
}

#gd_blue_copy {
  left: 220px;
  top: -30px;
  stroke-dasharray: 430;
  stroke-dashoffset: 430;
}

#river {
  left: 100px;
  top: 0px;
  stroke-dasharray: 760;
  stroke-dashoffset: 760;
}

#leaf {
  left: 150px;
  top: -125px;
}

#fish_small {
  left: 380px;
  top: 180px;
}

#fish_big {
  left: 390px;
  top: 150px;
}

#distant_sound {
  left: 450px;
  top: 5px;
}

#heart {
  left: 390px;
  top: 0px;
}

#heart_small {
  left: 416px;
  top: 20px;
}

#idea {
  left: -416px;
  top: -378px;
  stroke-dasharray: 580;
  stroke-dashoffset: 580;
}

#lalala {
  left: 396px;
  top: 138px;
}

#email {
  left: 196px;
  top: 38px;
  stroke-dasharray: 430;
  stroke-dashoffset: 430;
}

#easy_to_read {
  left: 196px;
  top: 38px;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}

#awesome {
  left: 240px;
  top: -320px;
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
}

#small_biz {
  left: 0px;
  top: 20px;
}

#online {
  left: 220px;
  top: 10px;
}

#big_biz {
  left: 500px;
  top: -50px;
}

body > p:last-of-type span a,
body > p:first-of-type span a {
  font-weight: bold;
}
html[data-ua*="AppleWebKit"] body > p:last-of-type span, html[data-ua*="AppleWebKit"]
body > p:first-of-type span {
  background: linear-gradient(to right, #77a200, #ff234e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1480px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 44%;
  }
}
@media screen and (max-width: 1080px) {
  html {
    font-size: 42%;
  }
}
@media screen and (max-width: 1023px) {
  .scene {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
  }
  .scene img {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10%;
  }

  .bg_scene {
    margin: 0 auto;
    left: 205px;
    top: 60%;
    right: 0;
  }
  .bg_scene > div {
    text-align: center;
  }
  .bg_scene > div svg {
    position: fixed;
  }

  p {
    margin-top: 0;
    padding-left: 16%;
    padding-right: 16%;
    width: 100%;
    text-align: center;
  }
  p.start {
    padding-right: 0;
  }
  p.standard span:first-of-type {
    margin-bottom: 4px;
  }
  p.finale {
    margin-top: -50px;
  }
  p.finale span:first-of-type {
    margin-bottom: 0;
  }
  p.finale span:nth-of-type(3) {
    margin-top: 30px;
  }
  p.finale span:nth-of-type(3),
  p.finale span:nth-of-type(4) {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 32%;
  }

  .scene {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
  }

  .bg_scene {
    left: 105px;
    top: 58%;
  }

  .chevron_down {
    top: 75%;
  }

  p {
    top: 43%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  p.finale {
    margin-top: 0;
  }
  p.finale span:nth-of-type(3) {
    margin-top: 6px;
  }
}
@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 50%;
  }

  .scene {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}
