-# %footer © <?php date_default_timezone_set('Europe/Berlin'); echo date('Y'); ?> <strong>Mad Mimi</strong><br/></a>
%script(src="javascript/skrollr.stylesheets.min.js")
%script(src="javascript/skrollr.min.js")
%script(src="javascript/mmgd.min.js")
