// COLORS
$default-text-color:   #373a40;
$mimi:                 #FF234E;
$godaddy:              #77a200;

// FONTS
$fbody: "omnes-pro", "Helvetica Neue", "HelveticaNeue", "Helvetica-Neue", "Helvetica", Arial, sans-serif;

$default-font-size:  3.6rem;
$large-font-size:  6.8rem;
$tiny-font-size:  1.6rem;

$weight-thin:        100;
$weight-light:       200;
$weight-book:        300;
$weight-regular:     400;
$weight-medium:      500;
$weight-semibold:    600;

// MISC
$cubic-ease-back: cubic-bezier(0.980, 0.005, 0.620, 1.205);
$cubic-ease-gum: cubic-bezier(0.300, -0.415, 0.615, 1.000);
