!!! 5
%html.no-js
  %head
    <?php include('_head.php') ?>
  %body#skrollr-body(data-0="color:hsl(0,0%,30%);stroke:hsl(0,0%,40%)" data-4500="color:hsl(170,100%,12%);stroke:hsl(170,100%,22%)" data-10000="color:hsl(245,100%,2%);stroke:hsl(245,100%,12%)" data-15000="color:hsl(320,100%,12%);stroke:hsl(320,100%,22%)" data-18000="color:hsl(360,100%,2%);stroke:hsl(360,100%,12%)" data-21350="color:hsl(360,0%,30%);stroke:hsl(360,100%,12%)")
    #bg.bg(data-0="background-color:hsl(150,0%,95%)" data-4500="background-color:hsl(170,100%,52%)" data-10000="background-color:hsl(245,70%,60%)" data-15000="background-color:hsl(320,100%,52%)" data-18000="background-color:hsl(360,100%,52%)" data-21350="background-color:hsl(360,0%,95%)")
    .scene
      %img#godaddy_guy{:src=> "images/godaddy.min.svg", :alt => "GoDaddy"}
      %img#mimi{:src=> "images/mimi@2x.png", :alt => "Mad Mimi", :width => "143", :height => "214"}
    .bg_scene
      #gd_city
        <?php include('images/gd_bg.min.svg') ?>
      #mm_tree
        <?php include('images/mm_bg.min.svg') ?>
      #gd_car
        <?php include('images/gd_car.min.svg') ?>
      #gd_glasses
        <?php include('images/gd_glasses.min.svg') ?>
      #gd_star
        <?php include('images/gd_star.min.svg') ?>
      #gd_plate
        <?php include('images/gd_plate.min.svg') ?>
      #gd_fun
        <?php include('images/gd_fun.min.svg') ?>
      #gd_blue
        <?php include('images/gd_blue.min.svg') ?>
      #gd_blue_copy
        <?php include('images/gd_blue_copy.min.svg') ?>
      #leaf
        <?php include('images/leaf.min.svg') ?>
      #river
        <?php include('images/river.min.svg') ?>
      #fish_big
        <?php include('images/fish_big.min.svg') ?>
      #fish_small
        <?php include('images/fish_small.min.svg') ?>
      #distant_sound
        <?php include('images/distant_sound.min.svg') ?>
      #heart
        <?php include('images/heart.min.svg') ?>
      #heart_small
        <?php include('images/heart_small.min.svg') ?>
      #idea
        <?php include('images/idea.min.svg') ?>
      #lalala
        <?php include('images/lalala.min.svg') ?>
      #email
        <?php include('images/email.min.svg') ?>
      #easy_to_read
        <?php include('images/easy_to_read.min.svg') ?>
      #awesome
        <?php include('images/awesome.min.svg') ?>
      #small_biz
        <?php include('images/small_biz.min.svg') ?>
      #big_biz
        <?php include('images/big_biz.min.svg') ?>
      #online
        <?php include('images/online.min.svg') ?>
    %a.chevron_down{:href => '#', :alt => "Scroll Down", :"data-anchor-target" => "#step-12"}
      %img{:src=> "images/chevron_down.min.svg"}
    %p.start{:"data-anchor-target" => "#step-1"}
      %span.large MMGD.
    %p.standard{:"data-anchor-target" => "#step-2"}
      %span The GoDaddy Guy zoomed around with a frown
      %span.godaddy "I’ve got the excitement, I’m a man about town"
    %p.standard{:"data-anchor-target" => "#step-3"}
      %span.godaddy "I have tons of fun, and I help people too"
      %span.godaddy "but there's something missing, and I’m a little bit blue."
    %p.standard{:"data-anchor-target" => "#step-4"}
      %span While his mind was adrift like a leaf on a river,
      %span A distant sound set his ears aquiver.
    %p.standard{:"data-anchor-target" => "#step-5"}
      %span.godaddy "Hark! What's that beautiful singing?
      %span.godaddy "A melody charming and simple and ringing."
    %p.standard{:"data-anchor-target" => "#step-6"}
      %span.godaddy "I must meet that singer, my heart is athumping."
      %span.godaddy "I have an idea, she's what I've been missing!"
    %p.standard{:"data-anchor-target" => "#step-7"}
      %span And under a tree, a delightful sight,
      %span Mad Mimi sits singing clear and bright.
    %p.standard{:"data-anchor-target" => "#step-8"}
      %span.godaddy "Hey there, ahem, cough cough, who are you?
      %span.godaddy "You seem so special, what is it you do?"
    %p.standard{:"data-anchor-target" => "#step-9"}
      %span.mimi "I delight readers with beautiful emails,
      %span.mimi I'm sugar and spice and puppy dog tails"
    %p.standard{:"data-anchor-target" => "#step-10"}
      %span.mimi I'm easy to read newsletters and more,
      %span.mimi I'm fun and feisty and I don't talk to bores."
    %p.standard{:"data-anchor-target" => "#step-11"}
      %span.godaddy "I ain't boring, I'm awesome, you know!
      %span.godaddy And I help small businesses get online and grow"
    %p.finale.standard{:"data-anchor-target" => "#step-12"}
      %span.godaddy "Let's hang out Mimi"
      %span.godaddy "We'll help people together!"
      %span.godaddy Get online and get heard
      %span.godaddy Forever and ever!”
    %p.end{:"data-anchor-target" => "#step-13"}
      %span GoDaddy acquires Mad Mimi
      %span — <a href="http://blog.madmimi.com/godaddy-mad-mimi/" title="GoDaddy acquires Mad Mimi - Mad Mimi Blog">Read more</a>
    %section#step-1
    %section#step-2
    %section#step-3
    %section#step-4
    %section#step-5
    %section#step-6
    %section#step-7
    %section#step-8
    %section#step-9
    %section#step-10
    %section#step-11
    %section#step-12
    %section#step-13
    .controls
      %a#play{:href => "#" }
        <?php include('images/play.min.svg') ?>
      %a#pause{:href => "#" }
        <?php include('images/pause.min.svg') ?>
      %a#backTop{:href => "#" }
        <?php include('images/back_top.min.svg') ?>
    %span.tweet <a href="http://twitter.com/home?status=GDMM. Check it out! http://cl.ly/0Y0P2S0b2H3v @GoDaddy @MadMimi ">Tweet this</a> | <a href="https://github.com/saschamt/mmgd/issues">Bugs?</a>
    %span.copy &copy; 2014 GoDaddy.com, LLC
    <?php include('_bottom.php') ?>
