@import "vars";
@import "mixins";
@import "mmgd__keyframes";
@import "reset";

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $default-font-size;
  font-family: $fbody;
  font-weight: $weight-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-text-color;
  line-height: 1.36;
}

.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: radial-gradient(ellipse, white, #eee);
  background-position: fixed;
  z-index: 0;
}

section {
  height: 1800px;
  width: 100%;
  transform: translateY(0px);
  padding: 20px 0 0 20px;
}

p {
  position: fixed;
  opacity: 0;
  top: 50%;
  margin-top: - $default-font-size * 2;
  vertical-align: middle;
  padding-left: 44%;
  span {
    display: block;
    &.mimi {
      color: $mimi;
    }
    &.godaddy {
      color: $godaddy;
    }
    &.large {
      font-size: $large-font-size;
    }
  }
  &.finale {
    margin-top: -150px;
    span:nth-of-type(3) {
      margin-top: 50px;
    }
    span:nth-of-type(3),
    span:nth-of-type(4) {
      margin-left: 200px;
    }
  }
}


body > img {
  position: fixed;
  top: 50%;
  margin-top: -150px;
  left: 20%;
}

.chevron_down {
  position: fixed;
  left: 50%;
  top: 80%;
  margin-left: -30px;
}


body > p:last-of-type,
body > p:first-of-type {
  span {
    a {
      font-weight: bold;
    }
    html[data-ua*="AppleWebKit"] & {
      background: linear-gradient(to right, $godaddy, $mimi);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


// media queries

@media screen and (max-width: 1480px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 44%;  
  }
}
