@import "vars";
@import "mixins";
@import "mmgd__keyframes";
@import "reset";

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $default-font-size;
  font-family: $fbody;
  font-weight: $weight-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-text-color;
  line-height: 1.36;
}

.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: radial-gradient(ellipse, white, #eee);
  background-position: fixed;
  z-index: 0;
}

section {
  height: 1800px;
  width: 100%;
}

p {
  position: fixed;
  opacity: 0;
  top: 40%;
  margin-top: - $default-font-size * 3;
  vertical-align: middle;
  padding-left: 44%;
  span {
    display: block;
    &.mimi {
      color: $mimi;
    }
    &.godaddy {
      color: $godaddy;
    }
    &.large {
      font-size: $large-font-size;
    }
  }
  &.start {
    padding-left: 0;
    text-align: center;
    width: 100%;
    span {
      display: inline-block;
    }
  }
  &.finale {
    margin-top: -150px;
    span:nth-of-type(3) {
      margin-top: 50px;
    }
    span:nth-of-type(3),
    span:nth-of-type(4) {
      margin-left: 200px;
    }
  }
}

.scene {
  z-index: 5;
  img {
    position: fixed;
    top: 50%;
    margin-top: -150px;
    left: 20%;
  }
}

.chevron_down {
  position: fixed;
  left: 50%;
  top: 80%;
  margin-left: -22px;
  z-index: 100;
}

.bg_scene {
  position: fixed;
  top: 50%;
  left: 44%;
  svg {
    position: fixed;
    width: 100%;
    max-width: 500px;
  }
  #gd_bg {
    svg {
      stroke-dasharray: 3000;
      stroke-dashoffset: 3000;
    }
  }
  #mm_bg {
    svg {
      stroke-dasharray: 2400;
      stroke-dashoffset: 2400;
    }
  }
}


body > p:last-of-type,
body > p:first-of-type {
  span {
    a {
      font-weight: bold;
    }
    html[data-ua*="AppleWebKit"] & {
      background: linear-gradient(to right, $godaddy, $mimi);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}


// media queries

@media screen and (max-width: 1480px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 44%;
  }
}

@media screen and (max-width: 1080px) {
  html {
    font-size: 42%;
  }
}

@media screen and (max-width: 1023px) {
  .scene {
    transform: scale(0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    img {
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 10%;
    }
  }
  .bg_scene {
    margin: 0 auto;
    left: 0;
    right: 0;
    > div {
      text-align: center;
      svg {
        position: static;
      }
    }
  }
  p {
    margin-top: 0;
    padding-left: 16%;
    padding-right: 16%;
    text-align: left;
    width: 100%;
    &.standard {
      span:first-of-type {
        margin-bottom: 4px;
      }
    }
    &.finale {
      margin-top: -50px;
      span:first-of-type {
        margin-bottom: 0;
      }
      span:nth-of-type(3) {
        margin-top: 30px;
      }
      span:nth-of-type(3),
      span:nth-of-type(4) {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 32%;
  }
  .scene {
    transform: scale(0.45);
  }
  .chevron_down {
    top: 75%;
  }
  // .scene img {
  //   top: 10%;
  // }

  p {
    top: 44%;
    padding-left: 3%;
    padding-right: 3%;
    &.finale {
      margin-top: 0;
    }
  }
}


@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 50%;
  }
  .scene {
    transform: scale(0.5);
  }
}
