html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

b,
strong {
  font-weight: 600;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3.6rem;
  font-family: "omnes-pro", "Helvetica Neue", "HelveticaNeue", "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #373a40;
  line-height: 1.36;
  background-color: #F3F3F3;
}

.wrapper {
  position: fixed;
  z-index: 10;
  bottom: 5%;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 4vh;
  top: 4vh;
  left: 4vh;
  right: 4vh;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.copy,
.tweet,
.controls {
  position: absolute;
  z-index: 1000;
  color: inherit;
  font-size: 1.6rem;
  bottom: 10px;
  font-weight: 400;
  opacity: 0.6;
  backface-visibility: hidden;
}

.controls {
  left: 50%;
  margin-left: -125px;
  width: 250px;
  text-align: center;
  word-spacing: 10px;
  z-index: 100;
}
.controls a {
  word-spacing: normal;
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  transition: opacity 100ms ease;
}
.controls a:hover {
  opacity: 1;
}
html[data-ua*="Safari"] .controls a#play {
  visibility: hidden;
  position: absolute;
}
html[data-ua*="Chrome"] .controls a#play {
  visibility: visible;
  position: static;
}
.controls svg * {
  stroke: none;
}

.copy {
  right: 10px;
}

.tweet {
  left: 10px;
}

#mimi,
#godaddy_guy {
  opacity: 0;
}

section {
  height: 1800px;
  width: 100%;
}

p {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  top: 40%;
  margin-top: -50px;
  vertical-align: middle;
  padding-left: 44%;
  color: inherit;
  backface-visibility: hidden;
}
p span {
  display: block;
}
p span.large {
  font-size: 6.8rem;
}
p.start {
  padding-left: 0;
  text-align: center;
  width: 100%;
}
p.start span {
  display: inline-block;
}
p.finale {
  margin-top: -120px;
}
p.finale > span:nth-of-type(1) {
  display: inline-block;
}
p.finale > span:nth-of-type(2) {
  margin-top: 50px;
  margin-left: 100px;
}
p.end {
  margin-top: 0px;
}

.speech {
  padding: 10px 25px 15px;
  border-radius: 16px;
  position: relative;
}
.speech:after {
  position: absolute;
  left: -12px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent white transparent transparent;
  top: 50%;
  margin-top: -12px;
}
.speech:before {
  position: absolute;
  left: -15px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 14px 14px 0;
  border-color: transparent #77a200 transparent transparent;
  top: 50%;
  margin-top: -14px;
}
.speech.gd {
  background-color: white;
  border: 2px solid #77a200;
}
.speech.mm {
  background-color: #ffff42;
  border: 2px solid #9b0000;
}
.speech.mm:after {
  border-color: transparent #ffff42 transparent transparent;
}
.speech.mm:before {
  border-color: transparent #9b0000 transparent transparent;
}

#gd_speech {
  top: 36%;
  left: 20.5%;
}

#mimi_speech {
  top: 37%;
  left: 34.5%;
}

.scene {
  z-index: 5;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.scene img {
  position: absolute;
  top: 36%;
  left: 20%;
}

.chevron_down {
  position: absolute;
  left: 50%;
  top: 80%;
  margin-left: -22px;
  z-index: 1;
}

.scene_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  backface-visibility: hidden;
}

.bg_scene {
  position: absolute;
  top: 50%;
  left: 44%;
  backface-visibility: hidden;
}
.bg_scene svg {
  position: absolute;
  max-width: 500px;
}
.bg_scene > div {
  position: absolute;
}

svg * {
  stroke: inherit;
}

#gd_bg,
#mm_bg {
  left: 0;
  right: 0;
}
#gd_bg svg,
#mm_bg svg {
  width: 100%;
}

#gd_city svg {
  stroke-dasharray: 2999;
  stroke-dashoffset: 3000;
}

#mm_tree svg {
  stroke-dasharray: 2399;
  stroke-dashoffset: 2400;
}

#gd_car {
  left: -400px;
  top: 180px;
}

#gd_glasses {
  left: -480px;
  top: -310px;
}

#gd_star {
  left: -550px;
  top: -70px;
}

#gd_plate {
  left: 380px;
  top: -410px;
}

#gd_fun {
  left: -180px;
  top: -380px;
}

#gd_blue {
  left: -100px;
  top: 40px;
}

#gd_blue_copy {
  left: 220px;
  top: -30px;
  stroke-dasharray: 449;
  stroke-dashoffset: 450;
}

#river {
  left: 100px;
  top: 0px;
  stroke-dasharray: 759;
  stroke-dashoffset: 760;
}

#leaf {
  left: 150px;
  top: -125px;
}

#fish_small {
  left: 380px;
  top: 180px;
}

#fish_big {
  left: 390px;
  top: 150px;
}

#distant_sound {
  left: 450px;
  top: 5px;
}

#heart {
  left: 390px;
  top: 0px;
}

#heart_small {
  left: 416px;
  top: 20px;
}

#idea {
  left: -416px;
  top: -378px;
  stroke-dasharray: 579;
  stroke-dashoffset: 580;
}

#lalala {
  left: 396px;
  top: 138px;
}

#email {
  left: 196px;
  top: 38px;
  stroke-dasharray: 429;
  stroke-dashoffset: 430;
}

#easy_to_read {
  left: 196px;
  top: 38px;
  stroke-dasharray: 299;
  stroke-dashoffset: 300;
}

#awesome {
  left: 240px;
  top: -320px;
  stroke-dasharray: 349;
  stroke-dashoffset: 350;
}

#small_biz {
  left: 0px;
  top: 20px;
}

#online {
  left: 220px;
  top: 10px;
}

#big_biz {
  left: 500px;
  top: -50px;
}

p.start,
p.end {
  z-index: 1500;
}
p.start span a,
p.end span a {
  font-weight: bold;
  text-decoration: none;
}
html[data-ua*="AppleWebKit"] p.start span, html[data-ua*="AppleWebKit"]
p.end span {
  background: linear-gradient(to right, #77a200, #FF234E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1640px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 44%;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 42%;
  }
}
@media screen and (max-width: 1123px) {
  html {
    font-size: 36%;
  }

  .scene {
    transform: scale(0.8);
    left: 0;
    right: 0;
    top: 0%;
  }
  .scene img {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0%;
  }
  .scene img#gd_speech, .scene img#mimi_speech {
    top: 0%;
  }
  .scene img#gd_speech {
    left: -8%;
  }
  .scene img#mimi_speech {
    left: 30%;
  }

  .bg_scene {
    margin: 0 auto;
    left: 205px;
    top: 60%;
    right: 0;
  }
  .bg_scene > div {
    text-align: center;
  }

  p {
    margin-top: 0;
    padding-left: 12%;
    padding-right: 12%;
    width: 100%;
    text-align: center;
  }
  p.start {
    padding-right: 0;
  }
  p.standard span:first-of-type {
    margin-bottom: 4px;
  }
  p.finale {
    margin-top: -30px;
  }
  p.finale > span:nth-of-type(2) {
    margin-top: 10px;
    margin-left: 0;
  }
  p.end {
    top: 50%;
  }

  .speech {
    margin-top: 10px;
  }
  .speech:after {
    left: 50%;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent white transparent;
    top: 0px;
    margin-left: -12px;
  }
  .speech:before {
    left: 50%;
    border-width: 0 14px 14px 14px;
    border-color: transparent transparent #77a200 transparent;
    top: -1px;
    margin-left: -14px;
  }
  .speech.mm:after {
    border-color: transparent transparent #ffff42 transparent;
  }
  .speech.mm:before {
    border-color: transparent transparent #9b0000 transparent;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 32%;
  }

  .scene {
    transform: scale(0.4);
    top: -30%;
  }

  .wrapper {
    bottom: 2vh;
    top: 2vh;
    left: 2vh;
    right: 2vh;
  }

  .bg_scene {
    left: 105px;
    top: 58%;
  }

  .chevron_down {
    top: 55%;
  }

  .copy {
    transform-origin: right center;
    transform: rotate(90deg);
  }

  .tweet {
    transform-origin: left center;
    transform: rotate(-90deg);
  }

  p {
    top: 43%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  #gd_speech {
    top: 12%;
    left: -21.5%;
  }

  #mimi_speech {
    top: 14%;
    left: 76.5%;
  }
}
@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 36%;
  }

  .scene {
    transform: scale(0.5);
    top: -20%;
  }

  .chevron_down {
    top: 60%;
  }
}

/*# sourceMappingURL=mmgd.blank.css.map */
