p.standard {
  -skrollr-animation-name: standardParagraph;
}

@-skrollr-keyframes standardParagraph {
  center {
    opacity#{"[sqrt]"}: 1;
    transform: translateY(0px);
  }
  center-top {
    opacity#{"[sqrt]"}: 0;
    transform: translateY(-10px);
  }
  center-bottom {
    opacity#{"[sqrt]"}: 0;
    transform: translateY(10px);
  }
}

p.start {
  -skrollr-animation-name: startParagraph;
}

@-skrollr-keyframes startParagraph {
  center {
    opacity: 1;
    transform: translateY(0px);
  }
  center-bottom {
    opacity: 0;
    transform: translateY(10px);
  }
}

p.end {
  -skrollr-animation-name: endParagraph;
}

@-skrollr-keyframes endParagraph {
  center {
    opacity: 1;
    transform: translateY(0px);
  }
  center-top {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.chevron_down {
  -skrollr-animation-name: chevron;
}

@-skrollr-keyframes chevron {
  start {
    opacity#{"[quadratic]"}: 1;
    transform-origin: top;
    transform: translateY(-10px) scaleY(1);
    display: inline-block;
  }
  1500 {
    opacity#{"[quadratic]"}: 0;
    transform-origin: top;
    transform: translateY(40px) scaleY(2.5);
    display: inline-block;
  }
  1501 {
    opacity#{"[quadratic]"}: 0;
    transform-origin: top;
    transform: translateY(40px) scaleY(2.5);
    display: none;
  }
}

#godaddy_guy {
  -skrollr-animation-name: godaddyGuy;
}

@-skrollr-keyframes godaddyGuy {
  start {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.75) translate(0px,0px) translateZ(0px);
  }
  2100 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(0px,0px) translateZ(0px);
  }
  6600 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(0px,0px) translateZ(0px);
  }
  7200 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1.1) translate(50px,0px) translateZ(0px);
  }
  10400 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1.1) translate(50px,0px) translateZ(0px);
  }
  11300 {
    opacity#{"[cubic]"}: 1;
    transform: scale(0.75) translate(-150px,-60px) translateZ(0px);
  }
  11400 {
    opacity#{"[cubic]"}: 1;
    transform: scale(0.75) translate(-150px,-60px) translateZ(0px);
  }
  12300 {
    opacity#{"[cubic]"}: 1;
    transform: scale(0.75) translate(-150px,-60px) translateZ(0px);
  }
  12600 {
    opacity#{"[cubic]"}: 1;
    transform: scale(0.85) translate(-150px,-60px) translateZ(0px);
  }
  17800 {
    opacity#{"[cubic]"}: 1;
    transform: scale(0.85) translate(-150px,-60px) translateZ(0px);
  }
  18100 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(-150px,-60px) translateZ(0px);
  }
  19500 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(-150px,-60px) translateZ(0px);
  }
  20000 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(-120px,0px) translateZ(0px);
  }
}

#gd_speech {
  -skrollr-animation-name: gdSpeech;
}

@-skrollr-keyframes gdSpeech {
  0 {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(115px,90px);
  }
  1100 {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(115px,90px);
  }
  1690 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(120px,20px);
  }
  4680  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(120px,20px);
  }
  4827  {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(170px,60px);
  }
  6590  {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(170px,40px);
  }
  7227  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(180px,10px);
  }
  10400  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(180px,10px);
  }
  11100  {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(50px,15px);
  }
  12164  {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(-15px,0px);
  }
  12364  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(-10px,-15px);
  }
  13800  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(-10px,-15px);
  }
  13900  {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(-15px,0px);
  }
  17564  {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(-15px,0px);
  }
  17864  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(-20px,-10px);
  }
  19750  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(-20px,-10px);
  }
  20050  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(-10px,0px);
  }
  21070  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(-10px,0px);
  }
  21270  {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(-10px,0px);
  }
}

#mimi_speech {
  -skrollr-animation-name: mimiSpeech;
}

@-skrollr-keyframes mimiSpeech {
  0 {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(-10px,20px);
  }
  13837 {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(-10px,20px);
  }
  14477  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(0px,0px);
  }
  17435  {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(0px,0px);
  }
  17635  {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(0px,0px);
  }
}


#mimi {
  -skrollr-animation-name: mimi;
}

@-skrollr-keyframes mimi {
  start {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(100px,80px) translateZ(0px);
  }
  10900 {
    opacity#{"[cubic]"}: 0;
    transform: scale(0.5) translate(100px,80px) translateZ(0px);
  }
  11400 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(50px,40px) translateZ(0px);
  }
  14100 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1) translate(50px,40px) translateZ(0px);
  }
  14700 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1.2) translate(50px,40px) translateZ(0px);
  }
  21180 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1.2) translate(50px,40px) translateZ(0px);
  }
  21970 {
    opacity#{"[cubic]"}: 1;
    transform: scale(1.2) translate(50px,0px) translateZ(0px);
  }
}

#gd_city svg {
  -skrollr-animation-name: gdCity;
}

@-skrollr-keyframes gdCity {
  start {
    stroke-dashoffset#{"[cubic]"}: 3000;
    transform: scale(0);
    opacity: 0;
  }
  2000 {
    stroke-dashoffset#{"[cubic]"}: 0;
    transform: scale(1);
    opacity: 1;
  }
  4100 {
    stroke-dashoffset#{"[cubic]"}: 3000;
    opacity: 0;
    transform: scale(0.75);
  }
}

#mm_tree svg {
  -skrollr-animation-name: mmTree;
}

@-skrollr-keyframes mmTree {
  start {
    stroke-dashoffset#{"[cubic]"}: 2400;
  }
  10000 {
    stroke-dashoffset#{"[cubic]"}: 2400;
  }
  13000 {
    stroke-dashoffset#{"[cubic]"}: 0;
  }
  14000 {
    stroke-dashoffset#{"[cubic]"}: 2400;
  }
}

#bg_gd {
  -skrollr-animation-name: bgGd;
}

@-skrollr-keyframes bgGd {
  0 {
    opacity: 0;
  }
  7800 {
    opacity: 1;
  }
}

#bg_mm {
  -skrollr-animation-name: bgMm;
}

@-skrollr-keyframes bgMm {
  0 {
    opacity: 0;
  }
  7800 {
    opacity: 0;
  }
  15800 {
    opacity: 1;
  }
}

#gd_car svg {
  -skrollr-animation-name: gdCar;
}

@-skrollr-keyframes gdCar {
  700 {
    stroke-dashoffset#{"[cubic]"}: 650;
    transform: translateX(-200px) translateY(-130px) scale(0);
    opacity: 1;
  }
  2100 {
    stroke-dashoffset#{"[cubic]"}: 0;
    transform: translateX(0px) translateY(0px) scale(1);
    opacity: 1;
  }
  4500 {
    stroke-dashoffset#{"[cubic]"}: 650;
    transform: translateX(1250px) translateY(600px) scale(4.25);
    opacity: 0;
  }
}

#gd_star svg {
  -skrollr-animation-name: gdStar;
}

@-skrollr-keyframes gdStar {
  700 {
    transform: translateX(50px) translateY(30px) rotate(-360deg) scale(0);
    opacity: 0;
  }
  2500 {
    transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
    opacity: 1;
  }
  3000 {
    transform: translateX(-80px) translateY(-20px) rotate(180deg) scale(3);
    opacity: 0;
  }
}

#gd_glasses svg {
  -skrollr-animation-name: gdGlasses;
}

@-skrollr-keyframes gdGlasses {
  2100 {
    transform: translateX(-20px) translateY(100px) rotate(0deg) scale(0.5);
    opacity: 0;
  }
  2700 {
    transform: translateX(10px) translateY(-30px) rotate(20deg) scale(1);
    opacity: 1;
  }
  3400 {
    transform: translateX(50px) translateY(-90px) rotate(50deg) scale(2);
    opacity: 0;
  }
}

#gd_plate svg {
  -skrollr-animation-name: gdPlate;
}

@-skrollr-keyframes gdPlate {
  1950 {
    stroke-dashoffset#{"[cubic]"}: 620;
    transform: translateX(-50px) translateY(-230px);
    opacity: 1;
  }
  2300 {
    stroke-dashoffset#{"[cubic]"}: 0;
    transform: translateX(0px) translateY(0px);
    opacity: 1;
  }
  2900 {
    stroke-dashoffset#{"[cubic]"}: 620;
    transform: translateX(10px) translateY(30px);
    opacity: 0;
  }
}


#gd_fun svg {
  -skrollr-animation-name: gdFun;
}

@-skrollr-keyframes gdFun {
  3500 {
    transform: translateX(-20px) translateY(10px) scale(0);
    opacity: 0;
  }
  3700 {
    transform: translateX(0px) translateY(0px) scale(1);
    opacity: 1;
  }
  6000 {
    transform: translateX(10px) translateY(-3px) scale(0);
    opacity: 0;
  }
}


#gd_blue svg {
  -skrollr-animation-name: gdBlue;
}

@-skrollr-keyframes gdBlue {
  3900 {
    transform: translateX(60px) translateY(-50px) scale(0.5);
    opacity: 0;
  }
  4200 {
    transform: translateX(0px) translateY(0px) scale(1);
    opacity: 1;
  }
  4700 {
    transform: translateX(-20px) translateY(15px) scale(0.5);
    opacity: 0;
  }
}

#gd_blue_copy svg {
  -skrollr-animation-name: gdBlueCopy;
}

@-skrollr-keyframes gdBlueCopy {
  4100 {
    stroke-dashoffset#{"[cubic]"}: 450;
    transform: translateX(60px) translateY(-50px) scale(1);
    opacity: 1;
  }
  4700 {
    stroke-dashoffset#{"[cubic]"}: 0;
    transform: translateX(0px) translateY(0px) scale(1.25);
    opacity: 1;
  }
  5200 {
    stroke-dashoffset#{"[cubic]"}: 0;
    transform: translateX(-40px) translateY(30px) scale(1);
    opacity: 0;
  }
}

#leaf svg {
  -skrollr-animation-name: AniLeaf;
}

@-skrollr-keyframes AniLeaf {
  5540 {
    transform: translateX(20px) translateY(40px) scale(0.9) rotate(-30deg);
    opacity: 0;
  }
  5640 {
    transform: translateX(0px) translateY(100px) scale(0.8) rotate(20deg);
    opacity: 1;
  }
  5740 {
    transform: translateX(-10px) translateY(150px) scale(0.6) rotate(-20deg);
    opacity: 1;
  }
  5840 {
    transform: translateX(5px) translateY(190px) scale(0.3) rotate(10deg);
    opacity: 1;
  }
  5940 {
    transform: translateX(-5px) translateY(210px) scale(0.2) rotate(-10deg);
    opacity: 1;
  }
  6040 {
    transform: translateX(0px) translateY(220px) scale(0.1) rotate(8deg);
    opacity: 1;
  }
  6140 {
    transform: translateX(2px) translateY(225px) scale(0.0) rotate(-10deg);
    opacity: 0;
  }
}

#river svg {
  -skrollr-animation-name: AniRiver;
}

@-skrollr-keyframes AniRiver {
  4940 {
    stroke-dashoffset#{"[cubic]"}: 760;
    transform: scale(1);
    opacity: 1;
  }
  5340 {
    stroke-dashoffset#{"[cubic]"}: 0;
    transform: scale(1.25);
    opacity: 1;
  }
  6140 {
    stroke-dashoffset#{"[cubic]"}: 760;
    opacity: 0;
    transform: scale(1);
  }
}

#fish_small svg {
  -skrollr-animation-name: fishSmall;
}

@-skrollr-keyframes fishSmall {
  5300 {
    transform-origin: 10px 10px;
    transform: rotate(-20deg) translateX(-50px) translateY(20px);
    opacity: 0;
  }
  5450 {
    transform-origin: 10px 10px;
    transform: rotate(0deg) translateX(0px) translateY(-10px);
    opacity: 1;
  }
  5550 {
    transform-origin:10px 10px;
    transform: rotate(30deg) translateX(50px) translateY(-10px);
    opacity: 0;
  }
}

#fish_big svg {
  -skrollr-animation-name: fishBig;
}

@-skrollr-keyframes fishBig {
  5450 {
    transform-origin: 10px 10px;
    transform: rotate(-20deg) translateX(-50px) translateY(20px);
    opacity: 0;
  }
  5600 {
    transform-origin: 10px 10px;
    transform: rotate(0deg) translateX(0px) translateY(-10px);
    opacity: 1;
  }
  5700 {
    transform-origin:10px 10px;
    transform: rotate(30deg) translateX(50px) translateY(-10px);
    opacity: 0;
  }
}

#distant_sound svg {
  -skrollr-animation-name: distantSound;
}

@-skrollr-keyframes distantSound {
  5450 {
    transform: translateX(120px) translateY(-50px) scale(0.5);
    opacity: 0;
  }
  6000 {
    transform: translateX(0px) translateY(0px) scale(1);
    opacity: 1;
  }
  6300 {
    transform: translateX(-120px) translateY(50px) scale(0.5);
    opacity: 0;
  }
}

#heart svg {
  -skrollr-animation-name: heart;
}

@-skrollr-keyframes heart {
  9100 {
    transform: translateY(20px) scale(0.5);
    opacity: 0;
  }
  9400 {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
  10000 {
    transform: translateY(-20px) scale(0.5);
    opacity: 0;
  }
}

#heart_small svg {
  -skrollr-animation-name: heartSmall;
}

@-skrollr-keyframes heartSmall {
  9200 {
    transform: translateY(10px) scale(0.5);
    opacity: 0;
  }
  9500 {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
  9700 {
    transform: translateY(-4px) scale(0.5);
    opacity: 0;
  }
}

#idea svg {
  -skrollr-animation-name: idea;
}

@-skrollr-keyframes idea {
  9400 {
    stroke-dashoffset#{"[cubic]"}: 580;
    transform: translateY(10px) scale(0.5);
    opacity: 1;
  }
  10000 {
    stroke-dashoffset#{"[cubic]"}: 0;
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
  10500 {
    stroke-dashoffset#{"[cubic]"}: 580;
    transform: translateY(-2px) scale(0.5);
    opacity: 0;
  }
}

#lalala svg {
  -skrollr-animation-name: lalala;
}

@-skrollr-keyframes lalala {
  11740 {
    transform: translateX(0px) translateY(0px);
    opacity: 0;
  }
  12500 {
    transform: translateX(20px) translateY(-5px);
    opacity: 1;
  }
  13100 {
    transform: translateX(25px) translateY(-8px);
    opacity: 0;
  }
}

#email svg {
  -skrollr-animation-name: email;
}

@-skrollr-keyframes email {
  14000 {
    stroke-dashoffset#{"[cubic]"}: 430;
    transform: scale(0.5) translateX(0px) translateY(0px);
    opacity: 0;
  }
  15000 {
    stroke-dashoffset#{"[cubic]"}: 0;
    transform: scale(3) translateX(20px) translateY(-5px);
    opacity: 1;
  }
  15900 {
    stroke-dashoffset#{"[cubic]"}: 430;
    transform: scale(0.5) translateX(-10px) translateY(-8px);
    opacity: 0;
  }
}

#easy_to_read svg {
  -skrollr-animation-name: easyToRead;
}

@-skrollr-keyframes easyToRead {
  16100 {
    stroke-dashoffset#{"[cubic]"}: 300;
    transform: scale(0.5) rotate(0deg);
    opacity: 0;
  }
  17100 {
    stroke-dashoffset#{"[cubic]"}: 0;
    transform: scale(2.5) rotate(-20deg);
    opacity: 1;
  }
  17800 {
    stroke-dashoffset#{"[cubic]"}: 300;
    transform: scale(1.25) rotate(-5deg);
    opacity: 0;
  }
}

#awesome svg {
  -skrollr-animation-name: awesome;
}

@-skrollr-keyframes awesome {
  17600 {
    stroke-dashoffset#{"[cubic]"}: 350;
    transform: scale(0.5) rotate(0deg) translateY(0px);
    opacity: 0;
  }
  18200 {
    stroke-dashoffset#{"[cubic]"}: 0;
    transform: scale(1.25) rotate(-20deg) translateY(-30px);
    opacity: 1;
  }
  18800 {
    stroke-dashoffset#{"[cubic]"}: 350;
    transform: scale(1.25) rotate(-5deg) translateY(-50px);
    opacity: 0;
  }
}

#small_biz svg {
  -skrollr-animation-name: smallBiz;
}

@-skrollr-keyframes smallBiz {
  18100 {
    transform: scale(0.5) translateY(-50px);
    opacity: 0;
  }
  18600 {
    transform: scale(1.25) translateY(0px);
    opacity: 1;
  }
  18900 {
    transform: scale(1.25) translateY(0px);
    opacity: 1;
  }
  19200 {
    transform: scale(0.75) translateY(10px);
    opacity: 0;
  }
}

#online svg {
  -skrollr-animation-name: online;
}

@-skrollr-keyframes online {
  18700 {
    transform: scale(0.5) translateY(-50px);
    opacity: 0;
  }
  19100 {
    transform: scale(1.25) translateY(0px);
    opacity: 1;
  }
  19300 {
    transform: scale(1.25) translateY(0px);
    opacity: 1;
  }
  19500 {
    transform: scale(0.75) translateY(10px);
    opacity: 0;
  }
}

#big_biz svg {
  -skrollr-animation-name: bigBiz;
}

@-skrollr-keyframes bigBiz {
  19100 {
    transform: scale(0.5) translateY(-50px);
    opacity: 0;
  }
  19300 {
    transform: scale(1.25) translateY(0px);
    opacity: 1;
  }
  19400 {
    transform: scale(1.25) translateY(0px);
    opacity: 1;
  }
  19600 {
    transform: scale(0.75) translateY(10px);
    opacity: 0;
  }
}
